<!DOCTYPE html>
<html>
<head>
  <title>Battleship</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="app">
    <div id="mybutton" v-if="!gameReady && !showSplash">
      <button class="rotate" v-on:click="Rotate()" >Rotate</button>
    </div>
    <div id="mybutton" v-if="gameReady && !showSplash">
      <button class="rotate" v-on:click="switchView()" >Switch View</button>
    </div>

    <div id="splash" v-if="showSplash">
      <div id="splashBack">
        <img id="splashHeader" src="/public/header_logo.png" alt="Battleship">
        <strong id="splashText">{{splashText}}</strong>
        <div  id="splashSpin" v-if='splashText == "Waiting for players."' class="spinner-border"></div>
      </div>
    </div>

    <div id="battleship" v-if="!showSplash">
      <div class="alert alert-success" v-if="myTurn" role="alert">
        It is your turn!
      </div>
      <div class="alert alert-danger" v-else role="alert">
        Waiting for other player...
      </div>
      <div class="alert alert-success" v-if="sunkShip" role="alert">
        {{shipName}} has been sunk!
      </div>
      <div class="alert alert-danger" v-if="lostShip" role="alert">
        {{shipName}} has been sunk!
      </div>
      <div v-for="index in gameSize" :id="'row' + index" class="row friendly">
        <div v-for="index1 in gameSize" :id="'column' + index1" class="column" @mouseover="hover(index, index1)" :ref="index + ':' + index1" v-on:click="fire(index, index1)" style="width:10%">

        </div>
      </div>
      <div v-for="index in gameSize" :id="'row' + index" class="row enemy">
        <div v-for="index1 in gameSize" :id="'column' + index1" class="column" :ref="'e' + index + ':' + index1" v-on:click="fire(index, index1)" style="width:10%">

        </div>
      </div>
    </div>
    <div class="container">
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Place your ships</h4>
            </div>
            <div class="modal-body">
              <p v-bind:class="{ disabled: carrierPlaced}" v-on:click="placeCarrier()" id="carrier" class="placeShip">Carrier = 5</p>
              <p v-bind:class="{ disabled: battleshipPlaced}" v-on:click="placeBattleship()" id="battleship" class="placeShip">Battleship = 4</p>
              <p v-bind:class="{ disabled: submarinePlaced}" v-on:click="placeSubmarine()" id="submarine" class="placeShip">Submarine = 3</p>
              <p v-bind:class="{ disabled: cruiserPlaced}" v-on:click="placeCruiser()" id="cruiser" class="placeShip">Cruiser = 3</p>
              <p v-bind:class="{ disabled: destroyerPlaced}" v-on:click="placeDestroyer()" id="destroyer" class="placeShip">Destroyer = 2</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    var socket = null;
    var app = new Vue({
      el: '#app',
      data: {
        gameSize: 10,
        localBoard: null,
        carrierPlaced: false,
        battleshipPlaced: false,
        submarinePlaced: false,
        cruiserPlaced: false,
        destroyerPlaced: false,
        carrierPlacing: false,
        battleshipPlacing: false,
        submarinePlacing: false,
        cruiserPlacing: false,
        destroyerPlacing: false,
        showModal: false,
        placingShips: true,
        vertical: true,
        horizontal: false,
        gameReady: false,
        viewEnemy: false,
        showSplash: true,
        myTurn: false,
        splashText: "Waiting for players.",
        sunkShip: false,
        lostShip: false,
        shipName: null,
      },
      methods: {
        //function on click from the modal to initiate carrier placing
        placeCarrier: function(){
          if(!this.carrierPlaced){
            console.log("PLACE THE CARRIER");
            this.carrierPlaced = true;
            this.carrierPlacing = true;
            this.showModal = false;
          }else{
            console.log("This ship is already placed!");
          }
        },
        //function on click from the modal to initiate battleship placing
        placeBattleship: function(){
          if(!this.battleshipPlaced){
            console.log("PLACE THE BATTLESHIP");
            this.battleshipPlaced = true;
            this.battleshipPlacing = true;
            this.showModal = false;
          }else{
            console.log("This ship is already placed!");
          }
        },
        //function on click from the modal to initiate submarine placing
        placeSubmarine: function(){
          if(!this.submarinePlaced){
            console.log("PLACE THE SUBMARINE");
            this.submarinePlaced = true;
            this.submarinePlacing = true;
            this.showModal = false;
          }else{
            console.log("This ship is already placed!");
          }
        },
        //function on click from the modal to initiate cruiser placing
        placeCruiser: function(){
          if(!this.cruiserPlaced){
            console.log("PLACE THE CRUISER");
            this.cruiserPlaced = true;
            this.cruiserPlacing = true;
            this.showModal = false;
          }else{
            console.log("This ship is already placed!");
          }
        },
        //function on click from the modal to initiate destroyer placing
        placeDestroyer: function(){
          if(!this.destroyerPlaced){
            console.log("PLACE THE DESTROYER");
            this.destroyerPlaced = true;
            this.destroyerPlacing = true;
            this.showModal = false;
          }else{
            console.log("This ship is already placed!");
          }
        },

        //fire function executed on click of both boards using own board to place instead of fire.
        fire: function (x, y) {
          //checks if placing ships
          if(!this.placingShips){
            //checks if viewing the enemy board
            if(this.viewEnemy){
              console.log(this.myTurn);
              if(this.myTurn){
                console.log((this.$refs['e' + x + ":" + y][0].attributes[2].nodeValue))
                if(this.$refs['e' + x + ":" + y][0].attributes[2].nodeValue == 'width: 10%;'){
                  console.log("Fire Event is happening at coordinates (" + x + ':' + y + ')');
                  console.log(this.$refs['e' + x + ":" + y][0].attributes[2].nodeValue);
                  socket.emit("fire", {"x":x, "y":y});
                  //this.myTurn = false;
                }
                //setting the enemy board at the following coordinates to red
                //this.$refs['e' + x + ":" + y][0].attributes[2].nodeValue = 'width:10%;background-color: red;';
              }else{
                alert("wait your turn");
              }
            }else{
                alert("please make moves from the enemy board");
            }
          }else{
            //user is trying to place a ship
            console.log("they clicked to place a ship");
            //checks which ship the user is trying to place based on the flags in the initial functions
            //depending on this it calls a method to place the cooresponding ship
            if(this.carrierPlacing == true){
              this.placeC(x,y,"blue");
            }else if(this.battleshipPlacing == true){
              this.placeB(x,y,"blue");
            }else if(this.cruiserPlacing == true){
              this.placeR(x,y,"blue", "cruiser");
            }else if(this.submarinePlacing == true){
              this.placeR(x,y,"blue", "submarine");
            }else if(this.destroyerPlacing == true){
              this.placeD(x,y,"blue");
            }
          }
        },

        //this is used to check collision when placing ships based on if there are any blue nodes
        checkCollision(x,y){
          return this.$refs[x + ":" + y][0].attributes[2].nodeValue.includes("blue");
        },

        //function to place carrier or view hover depending on color parameter
        placeC(x,y,color) {
          //what to do if the user is placing vertically - check for out of bounds
          if(x-2 > 0 && x + 2 < 11 && this.vertical){
            //only show/allow the user this placement option if none of the values collide
            if(!(this.checkCollision(x,y) || this.checkCollision(x+1,y) || this.checkCollision(x+2,y) || this.checkCollision(x-1,y) || this.checkCollision(x-2,y))){
              //setting the values for each of the 5 nodes to the respective color
              this.$refs[x + ":" + y][0].attributes[2].nodeValue = 'width: 10%;background-color:'+ color + ';';
              this.$refs[x-2 + ":" + y][0].attributes[2].nodeValue = 'width: 10%;background-color:'+ color + ';';
              this.$refs[x-1 + ":" + y][0].attributes[2].nodeValue = 'width: 10%;background-color:'+ color + ';';
              this.$refs[x+1 + ":" + y][0].attributes[2].nodeValue = 'width: 10%;background-color:'+ color + ';';
              this.$refs[x+2 + ":" + y][0].attributes[2].nodeValue = 'width: 10%;background-color:'+ color + ';';
              if(color == "blue"){
                //adding ship to localboard array
                console.log(this.gameReady);
                console.log(this.localBoard);
                this.localBoard[x-1][y-1] = 'C';
                this.localBoard[x-3][y-1] = 'C';
                this.localBoard[x-2][y-1] = 'C';
                this.localBoard[x][y-1] = 'C';
                this.localBoard[x+1][y-1] = 'C';
                //if the color parameter is blue it means the user is trying to place instead of hover
                //if this is the case we need to check if the rest of the ships have been placed or not
                if(this.carrierPlaced && this.battleshipPlaced && this.cruiserPlaced && this.submarinePlaced && this.destroyerPlaced){
                  this.finishBoard()
                }else{
                  //if all the ships aren't placed show the modal to pick another ship
                  this.showModal = true;
                }
                this.carrierPlacing = false;
              }
            } //what to do if the user is placing horizontally - check for out of bounds
          }else if(y-2 > 0 && y + 2 < 11 && this.horizontal){
            //only show/allow the user this placement option if none of the values collide
            if(!(this.checkCollision(x,y) || this.checkCollision(x,y+1) || this.checkCollision(x,y+2) || this.checkCollision(x,y-1) || this.checkCollision(x,y-2))){
                this.$refs[x + ":" + y][0].attributes[2].nodeValue = 'width: 10%;background-color:'+ color + ';';
                this.$refs[x + ":" + (y-2)][0].attributes[2].nodeValue = 'width: 10%;background-color:'+ color + ';';
                this.$refs[x + ":" + (y-1)][0].attributes[2].nodeValue = 'width: 10%;background-color:'+ color + ';';
                this.$refs[x + ":" + (y+1)][0].attributes[2].nodeValue = 'width: 10%;background-color:'+ color + ';';
                this.$refs[x + ":" + (y+2)][0].attributes[2].nodeValue = 'width: 10%;background-color:'+ color + ';';
              if(color == "blue"){
                //adding ship to localboard array
                this.localBoard[x-1][y-1] = 'C';
                this.localBoard[x-1][y-3] = 'C';
                this.localBoard[x-1][y-2] = 'C';
                this.localBoard[x-1][y] = 'C';
                this.localBoard[x-1][y-1] = 'C';
                //if the color parameter is blue it means the user is trying to place instead of hover
                //if this is the case we need to check if the rest of the ships have been placed or not
                if(this.carrierPlaced && this.battleshipPlaced && this.cruiserPlaced && this.submarinePlaced && this.destroyerPlaced){
                  this.finishBoard()
                }else{
                  //if all the ships aren't placed show the modal to pick another ship
                  this.showModal = true;
                }
                this.carrierPlacing = false;
              }
            }
          }
        },
        //function to place the battleship or view hover depending on color parameter
        placeB(x,y,color) {
          //what to do if the user is placing vertical - check for out of bounds
          if(x-2 > 0 && x + 1 < 11 && this.vertical){
            //only show/allow the user this placement option if none of the values collide
            if(!(this.checkCollision(x,y) || this.checkCollision(x-2,y) || this.checkCollision(x-1,y) || this.checkCollision(x+1,y))){
              this.$refs[x + ":" + y][0].attributes[2].nodeValue = 'width: 10%; background-color:'+ color +';';
              this.$refs[x-2 + ":" + y][0].attributes[2].nodeValue = 'width: 10%; background-color: ' + color + ';';
              this.$refs[x-1 + ":" + y][0].attributes[2].nodeValue = 'width: 10%; background-color: ' + color + ';';
              this.$refs[x+1 + ":" + y][0].attributes[2].nodeValue = 'width: 10%; background-color: ' + color + ';';
              if(color == "blue"){
                //adding ship to localboard array
                this.localBoard[x-1][y-1] = 'B';
                this.localBoard[x-3][y-1] = 'B';
                this.localBoard[x-2][y-1] = 'B';
                this.localBoard[x][y-1] = 'B';
                //if the color parameter is blue it means the user is trying to place instead of hover
                //if this is the case we need to check if the rest of the ships have been placed or not
                if(this.carrierPlaced && this.battleshipPlaced && this.cruiserPlaced && this.submarinePlaced && this.destroyerPlaced){
                  this.finishBoard()
                }else{
                  //if all the ships aren't placed show the modal to pick another ship
                  this.showModal = true;
                }
                this.battleshipPlacing = false;
              }
            } //what to do if the user is placing horizontal - check for out of bounds
          }else if(y-2 > 0 && y + 1 < 11 && this.horizontal){
            //only show/allow the user this placement option if none of the values collide
            if(!(this.checkCollision(x,y) || this.checkCollision(x,y+1) || this.checkCollision(x,y-1) || this.checkCollision(x,y-2))){
              this.$refs[x + ":" + y][0].attributes[2].nodeValue = 'width: 10%; background-color: ' + color + ';';
              this.$refs[x + ":" + (y-2)][0].attributes[2].nodeValue = 'width: 10%; background-color: ' + color + ';';
              this.$refs[x + ":" + (y-1)][0].attributes[2].nodeValue = 'width: 10%; background-color: ' + color + ';';
              this.$refs[x + ":" + (y+1)][0].attributes[2].nodeValue = 'width: 10%; background-color: ' + color + ';';

              if(color == "blue"){
                //adding ship to localboard array
                this.localBoard[x-1][y-1] = 'B';
                this.localBoard[x-1][y-3] = 'B';
                this.localBoard[x-1][y-2] = 'B';
                this.localBoard[x-1][y] = 'B';

                //if the color parameter is blue it means the user is trying to place instead of hover
                //if this is the case we need to check if the rest of the ships have been placed or not
                if(this.carrierPlaced && this.battleshipPlaced && this.cruiserPlaced && this.submarinePlaced && this.destroyerPlaced){
                  this.finishBoard()
                }else{
                  //if all the ships aren't placed show the modal to pick another ship
                  this.showModal = true;
                }
                this.battleshipPlacing = false;
              }
            }
          }
        },
        //function to place the cruiser and submarine or view hover depending on color parameter
        placeR(x,y,color, ship){
          //what to do if the user is placing vertical - check for out of bounds
          if(x-1 > 0 && x + 1 < 11 && this.vertical){
            //only show/allow the user this placement option if none of the values collide
            if(!(this.checkCollision(x,y) || this.checkCollision(x-1,y) || this.checkCollision(x+1,y))){
              this.$refs[x + ":" + y][0].attributes[2].nodeValue = 'width: 10%; background-color: ' + color + ';';
              this.$refs[x-1 + ":" + y][0].attributes[2].nodeValue = 'width: 10%; background-color: ' + color + ';';
              this.$refs[x+1 + ":" + y][0].attributes[2].nodeValue = 'width: 10%; background-color: ' + color + ';';
              //if the color parameter is blue it means the user is trying to place instead of hover
              //if this is the case we need to check if the rest of the ships have been placed or not
              if(color == "blue"){
                if(ship == "submarine"){
                  //adding ship to localboard array
                  this.localBoard[x-1][y-1] = 'S';
                  this.localBoard[x-2][y-1] = 'S';
                  this.localBoard[x][y-1] = 'S';
                }else{
                  //adding ship to localboard array
                  this.localBoard[x-1][y-1] = 'R';
                  this.localBoard[x-2][y-1] = 'R';
                  this.localBoard[x][y-1] = 'R';
                }

                if(this.carrierPlaced && this.battleshipPlaced && this.cruiserPlaced && this.submarinePlaced && this.destroyerPlaced){
                  this.finishBoard()
                }else{
                  //if all the ships aren't placed show the modal to pick another ship
                  this.showModal = true;
                }
                this.cruiserPlacing = false;
                this.submarinePlacing = false;
              }
            } //what to do if the user is placing horizontal - check for out of bounds
          }else if(y-1 > 0 && y + 1 < 11 && this.horizontal){
            //only show/allow the user this placement option if none of the values collide
            if(!(this.checkCollision(x,y) || this.checkCollision(x,y-1) || this.checkCollision(x,y+1))){
              this.$refs[x + ":" + y][0].attributes[2].nodeValue = 'width: 10%; background-color: ' + color + ';';
              this.$refs[x + ":" + (y-1)][0].attributes[2].nodeValue = 'width: 10%; background-color: ' + color + ';';
              this.$refs[x + ":" + (y+1)][0].attributes[2].nodeValue = 'width: 10%; background-color: ' + color + ';';
              //if the color parameter is blue it means the user is trying to place instead of hover
              //if this is the case we need to check if the rest of the ships have been placed or not
              if(color == "blue"){
                if(ship == "submarine"){
                  //adding ship to localboard array
                  this.localBoard[x-1][y-1] = 'S';
                  this.localBoard[x-1][y-2] = 'S';
                  this.localBoard[x-1][y] = 'S';
                }else{
                  //adding ship to localboard array
                  this.localBoard[x-1][y-1] = 'R';
                  this.localBoard[x-1][y-2] = 'R';
                  this.localBoard[x-1][y] = 'R';
                }
                if(this.carrierPlaced && this.battleshipPlaced && this.cruiserPlaced && this.submarinePlaced && this.destroyerPlaced){
                  this.finishBoard()
                }else{
                  //if all the ships aren't placed show the modal to pick another ship
                  this.showModal = true;
                }
                this.cruiserPlacing = false;
                this.submarinePlacing = false;
              }
            }
          }
        },
        //function to place the destroyer or view hover depending on color parameter
        placeD(x,y,color){
          //what to do if the user is placing vertical - check for out of bounds
          if(x-1 > 0 && x < 11 && this.vertical){
            //only show/allow the user this placement option if none of the values collide
            if(!(this.checkCollision(x,y) || this.checkCollision(x-1,y))){
              this.$refs[x + ":" + y][0].attributes[2].nodeValue = 'width: 10%; background-color: ' + color + ';';
              this.$refs[x-1 + ":" + y][0].attributes[2].nodeValue = 'width: 10%; background-color: ' + color + ';';
              //if the color parameter is blue it means the user is trying to place instead of hover
              //if this is the case we need to check if the rest of the ships have been placed or not
              if(color == "blue"){
                //adding ship to localboard array
                this.localBoard[x-1][y-1] = 'D';
                this.localBoard[x-2][y-1] = 'D';
                if(this.carrierPlaced && this.battleshipPlaced && this.cruiserPlaced && this.submarinePlaced && this.destroyerPlaced){
                  this.finishBoard()
                }else{
                  //if all the ships aren't placed show the modal to pick another ship
                  this.showModal = true;
                }
                this.destroyerPlacing = false;
              }
            } //what to do if the user is placing horizontal - check for out of bounds
          }else if(y-1 > 0 && y < 11 && this.horizontal){
            //only show/allow the user this placement option if none of the values collide
            if(!(this.checkCollision(x,y) || this.checkCollision(x,y-1))){
              this.$refs[x + ":" + y][0].attributes[2].nodeValue = 'width: 10%; background-color: ' + color + ';';
              this.$refs[x + ":" + (y-1)][0].attributes[2].nodeValue = 'width: 10%; background-color: ' + color + ';';
              //if the color parameter is blue it means the user is trying to place instead of hover
              //if this is the case we need to check if the rest of the ships have been placed or not
              if(color == "blue"){
                //adding ship to localboard array
                this.localBoard[x-1][y-1] = 'D';
                this.localBoard[x-1][y-2] = 'D';
                if(this.carrierPlaced && this.battleshipPlaced && this.cruiserPlaced && this.submarinePlaced && this.destroyerPlaced){
                  this.finishBoard()
                }else{
                  //if all the ships aren't placed show the modal to pick another ship
                  this.showModal = true;
                }
                this.destroyerPlacing = false;
              }
            }
          }
        },

        finishBoard() {
          for(var x = 0; x < this.localBoard.length; x++) {
            for(var y = 0; y < this.localBoard.length; y++) {
              if(this.localBoard[x][y] == null) {
                this.localBoard[x][y] = "_";
              }
            }
          }

          socket.emit("board_finished", {"localBoard": this.localBoard})

          console.log("EVERYTHING IS PLACED");
          this.gameReady = true;
          this.placingShips = false;
          //alert("Waiting for other player");
          $('.alert').show();
        },

        //function on hover to show the user where the ship will go
        hover: function(x, y){
          //clear the entire board unless the value is blue to make surse we don't
          //have hover blobs when the user hovers over everything
          for(i = 1; i < 11; i++){
            for(j = 1; j < 11; j++){
              if(this.$refs[i + ":" + j][0].attributes[2].nodeValue.includes("blue") || this.$refs[i + ":" + j][0].attributes[2].nodeValue.includes("red") || this.$refs[i + ":" + j][0].attributes[2].nodeValue.includes("lightgray")){

              }else{
                this.$refs[i + ":" + j][0].attributes[2].nodeValue = "width: 10%;";
              }
            }
          }
          //depending on which ship is currently being placed we call our respoective place functions again
          //this time we call them with a gray parameter to show the hover actitons
          if(this.carrierPlacing == true){
            this.placeC(x,y,"gray");
          }else if(this.battleshipPlacing == true){
            this.placeB(x,y,"gray");
          }else if(this.cruiserPlacing == true){
            this.placeR(x,y,"gray", "cruiser");
          }else if(this.destroyerPlacing == true){
            this.placeD(x,y,"gray");
          }else if(this.submarinePlacing == true){
            this.placeR(x,y,"gray", "submarine");
          }
        },
        //function to rotate the pieces during placement setting the vertical/horizontal variables - called using a button
        Rotate: function(){
          if(this.vertical){
            this.vertical = false;
            this.horizontal = true;
          }else{
            this.vertical = true;
            this.horizontal = false;
          }
        },
        //switch the users view from the own board to the enemy board - called using a button
        switchView: function(){
          if(this.viewEnemy){
            this.viewEnemy = false;
            $('.enemy').hide();
            $('.friendly').show();
            console.log("viewing own board");
          }else{
            this.viewEnemy = true;
            $('.enemy').show();
            $('.friendly').hide();
            console.log("viewing enemy board");
          }
        },
      },
      //function ran on create to initialize the socket variable as well as hide the enemy board
      created: function () {
        socket = io();
        this.localBoard = new Array(10);

        for (var i = 0; i < this.localBoard.length; i++) {
          this.localBoard[i] = new Array(10);
        }

        $('.enemy').hide();
      },
      mounted: function () {
        scope=this;
        var gameOver = false;

        socket.on("room_joined", function(msg){
          scope.showModal = true;
          scope.showSplash = false;
          console.log(msg);
        });

        socket.on("your_turn", function(){
          if(!gameOver) {
            //alert("It is your turn!");
            console.log("it is your turn");
            scope.myTurn = true;
          }
        });

        socket.on("miss", function(msg){
          console.log("MISS")
          console.log(msg);
          scope.$refs[msg.coord][0].attributes[2].nodeValue = 'width:10%;background-color: lightgray;';
          if(scope.myTurn){
            scope.myTurn = false;
          }
          scope.sunkShip = false;
          scope.lostShip = false;
        });

        socket.on("hit", function(msg){
          console.log("HIT");
          console.log(msg);
          scope.$refs[msg.coord][0].attributes[2].nodeValue = 'width:10%;background-color: red;';
          //this.$refs['e' + x + ":" + y][0].attributes[2].nodeValue = 'width:10%;background-color: red;';
          if(scope.myTurn){
            scope.myTurn = false;
          }
          scope.sunkShip = false;
          scope.lostShip = false;
        });

        socket.on("sunk", function(msg) {
          console.log("SUNK")
          console.log(msg);
          switch(msg.type){
            case 'C':
              scope.shipName = "Carrier"
              break;
            case 'B':
              scope.shipName = "Battleship"
              break;
            case 'S':
                scope.shipName = "Submarine"
              break;
            case 'R':
                scope.shipName = "Cruiser"
              break;
            case 'D':
                scope.shipName = "Destroyer"
              break;
          }


          scope.$refs[msg.coord][0].attributes[2].nodeValue = 'width:10%;background-color: red;';
          if(scope.myTurn){
            scope.sunkShip = true;
            scope.myTurn = false;
          }else{
            scope.lostShip = true;
          }
          $('.alert').show();
        });

        socket.on("win", function(msg){
          gameOver = true;
          scope.splashText = "You Win!"
          scope.showSplash = true;
          //alert("You Win!")
        });

        socket.on("lose", function(msg){
          gameOver = true;
          scope.splashText = "You Lose..."
          scope.showSplash = true;
          //alert("You Lose!")
        });
      },
      //watcher function to respond to variable changes
      watch: {
        // whenever showModal changes, this function will run
        showModal: function () {
          if(this.showModal == true){
            $('#myModal').modal({backdrop: 'static', keyboard: false});
          }else{
            $("#myModal").modal('hide');
          }
        },
    },
    });
  </script>
</body>
</html>
<style>
.row{
  width: 50%;
  display: flex;
  margin: 0 auto;
  height: 8%;
  border: 1px solid black;
  border-top-width: 0;
}

.column{
  border-left: 1px solid black;
}

#column1{
  border-left-width: 0;
}

#row1{
  border-top-width:1px;
}

/* #battleship{
  margin-top: 15%;
} */

html,body,#app,#battleship{
  height: 100%;
}

.placeShip{
  cursor: pointer;
}

.disabled{
  color: gray;
  cursor: default;
}

.rotate {
  background-color : #31B0D5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
}

#mybutton {
  position: fixed;
  top: 10px;
  left: 10px;
}

#splashBack {
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: url("/public/battleship.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#splashHeader {
  display: block;
  margin: auto;
  padding-top: 30vh;
}

#splashSpin {
  font-size: 40px;
  display: block;
  margin: auto;
  color: white;
  margin-top: 12px;
}

#splashText {
  text-align: center;
  color: white;
  display: block;
  margin: auto;
  font-size: 16pt;
}

.alert{
  width: 50%;
  margin: 0 auto;
}
</style>
